# Игнорировать папку сборки
build/

# Игнорировать временные файлы редакторов (VS Code, Neovim)
.vscode/
.cache/
.vs/
.git/
# Игнорировать файл базы данных CMake (он генерируется автоматически)
compile_commands.json

# Игнорировать готовые программы (на всякий случай)
*.exe
*.dll
*.obj
